<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Add Books
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <div  >
     
              
              <div  >
     
                <form (ngSubmit)="Addbook()"   enctype="multipart/form-data" >
                  <h1 class="myText">ADD YOUR BOOK</h1>
                  <br>
                  <div class="form-group">
                      <input type="text" class="form-control" name="title"  placeholder="Book Name" [(ngModel)]="bookItem.title" >
                      <label  id="error1"></label>
                  </div>
                  
                  
                  <div class="form-group">
                     <input type="text"  class="form-control" name="author" placeholder="Author" [(ngModel)]="bookItem.author">
                     <label  id="error4"></label>
                     
                  </div>
                  <div class="form-group">
                    <input type="text"  class="form-control" name="genre" placeholder="Genre" [(ngModel)]="bookItem.genre">
                    <label  id="error4"></label>
                    
                 </div>
  
                 <div class="form-group">
                  <input type="text"  class="form-control" name="about" placeholder="Description" [(ngModel)]="bookItem.about" style="padding-right: 10%; padding-bottom: 10%;padding-top: 1.5%;">
                  <label  id="error4"></label>
                  
               </div>
  
                 <div class="form-group">
                   <label for="">*Image URL</label>
                  <input type="text"  class="form-control" name="image" placeholder="Image" [(ngModel)]="bookItem.image" >
                  <label  id="error4"></label>
                  
                 </div>
                  
                  
                  <label id="check"></label>
                  <h1></h1>
                  <button type="submit" class="btn btn-primary btn-block" value="submit">Add Book</button>
                  
        
                  
                </form>
        
                
        
          </div>  
                
      
              
      
        </div>
            
                  <!--/stories-->
            
            
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  
  <hr>
  
  
  
  <hr>
  
  <hr>
